/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: right;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
    border-radius: 16px;
    cursor: pointer;
}
/*for nav active link*/
.navigation-item.active:after {
    background-color: #3a9cac;
    content: " ";
    display: block;
    height: 5px;
    width: 100%;
}
/*slickCarousel*/
.items {
    width: 100%;
    margin: 5px auto;
    
}

.slick-slide {
    margin: 10px
}

.slick-slide img {
        width: 100%;
        border: 2px solid #fff
}

.section-title, .text-block h2 {
    color: #3a9cac;
    /*font-family: AbrilFatface,cursive;*/
    font-size: 40px;
   /* font-style: italic;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 0.85em;*/
    text-align: center;
}

.section-subtitle, .text-block h3 {
    display: block;
    font-family: Poppins,sans-serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    letter-spacing: .2em;
    line-height: 1;
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: center;
    text-transform: uppercase;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.bg-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: inherit;
    height: 100%;
    min-height: 100%;
    /* filter: blur(4px);
    -webkit-filter: blur(4px);/*/
}

.search-background {
    background: url('/images/bg.jpg'); /*this will set background form this image*/
}

.backgroundwhite {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.backgroundwhiteBorder {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

.backgroundWhiteBorder10Padding {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

/*.carousel-caption{
    top:35%;
    font-size:20px;
    color:black;
}*/
.navBackground {
    background-color: darkseagreen;
    color: white;
}

section.hero h1 {
    color: #fff;
    font-size: 3.125em;
}
/*h1{
    font-style: normal;
    font-weight: normal;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.wrap article h1 {
    margin-top: 0;
}*/

/*.item {
    background: #333;
    text-align: center;
    height: 300px;
}*/

h1 {
    /*margin: 0;
    color: #888;
    padding-top: 80px;*/
    font-size: 100px;
    text-align: center;
}

.card {
    border-radius: 10px;
}
