@model ProgramOrganizerViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card w-75" style="margin-left:160px">
    <form asp-action="Create" method="post">
        <div class="row">
            <div class="col-md-6 form-group offset-md-5 align-content-md-center text-info"><h2>Our Programs</h2></div>
        </div>
        <div class="col-md-4 ml-4"><span style="color:#ff0000">* </span><i>is required field</i></div>


        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-md-4 col-xs-6">
                <label asp-for="Program.Name" class="col-form-label ml-5"></label>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8">
                <input asp-for="Program.Name" class="form-control" style="width:342px"/>
            </div>
            <span asp-validation-for="Program.Name" class="text-danger"></span>
        </div>


        <div class="form-group row">
            <div class="col-md-4 col-xs-6">
                <label asp-for="Program.Description" class="col-form-label ml-5"></label>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8">
                <div>
                    @Html.TextAreaFor(model => model.Program.Description)
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.Program.Description, "", new { @class = "text-danger" })
        </div>


        <div class="form-group row">
            <div class="col-md-4 col-xs-6">
                <label asp-for="Program.ProgramUrl" class="col-form-label ml-5"></label>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8">
                <input asp-for="Program.ProgramUrl" class="form-control" style="width:342px"/>
            </div>
            <span asp-validation-for="Program.ProgramUrl" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-md-4 col-xs-6">
                <h2 class="col-form-label ml-5 font-weight-normal">Sponsors<span style="color:#ff0000">*</span></h2>

            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                @Html.DropDownListFor(s => s.OrganizationId,
new SelectList(Model.Organizations, "Id", "Name"), "--Select Sponsor--", new { @class = "form-control",style = "width:342px" })
            </div>
            <span asp-validation-for="OrganizationId" class="text-danger"></span>
            <div class="col-2">
                <input type="button" class="btn btn-primary px-md-4" id="addOrganizer" value="Add" />

            </div>
        </div>





<ul id="organizers"></ul>
<br />
<br />
<input type="hidden" id="orgIds" name="orgIds" />
<div class="d-flex justify-content-center align-items-center">
    <input type="submit" value="Create" class="btn btn-primary mx-2 px-4" />
    <a asp-action="Index" class="btn btn-info mx-3">Back to List </a>
</div>
</form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">
        var orgIds = '';
        $("#addOrganizer").click(function () {
            var orgtext = $("#OrganizationId").find('option:selected').text();
            var org = $("#OrganizationId").val();
            if (org > 0) {
                var li = '<li>' + orgtext + '</li>'
                $("#organizers").append(li);
                orgIds = orgIds + org + ',';
                $("#orgIds").val(orgIds);
            }
        });

    </script>

}
