@model IEnumerable<ExperienceIT.Web.Models.ProgramMaster>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        background-color: azure;
    }
</style>
<div class="border backgroundwhite">
    @*adding border,background and image*@
    <div class="row">
        @* the "row" class is used mainly to hold columns in it.*@
        <div class="col-6">
            @*element take half of the horizontal screen space devices.*@
            <h2 class="text-info">Programs List</h2>@*Add meaning through text-colors*@
        </div>
        <div class="col-6 text-right">
            @* move the columns to the right*@
            <a Create New><partial name="_CreateButtonPartial" /></a>
        </div>
    </div>
    <table class="table table-striped border"
        <tr class="table-secondary">

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th  colspan="2">
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>

        
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <partial name="_TableButtonPartial" model="item.Id" />
                    </td>
                </tr>
            }
           

    </table>
</div>