@model ExperienceIT.Web.Models.EventMaster
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="card">
            <form  enctype="multipart/form-data" asp-action="Edit" >
                <br />
                <div class="row">
                    <div class="col-md-6 form-group offset-md-5 align-content-md-center text-info"><h2>Edit Event</h2></div>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <br />
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label">Event Name <span style="color:#ff0000">*</span></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label asp-for="Description" class="control-label">Event Discription <span style="color:#ff0000">*</span></label>
                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control" } )
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label asp-for="StartingDate" class="control-label">Start Date <span style="color:#ff0000">*</span></label>
                            <input asp-for="StartingDate" class="form-control" />
                            <span asp-validation-for="StartingDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label asp-for="EndingDate" class="control-label">End Date <span style="color:#ff0000">*</span></label>
                            <input asp-for="EndingDate" class="form-control" />
                            <span asp-validation-for="EndingDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label asp-for="Venue" class="control-label">Venue <span style="color:#ff0000">*</span></label>
                            <input asp-for="Venue" class="form-control" />
                            <span asp-validation-for="Venue" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label asp-for="Duration" class="control-label">Timing <span style="color:#ff0000">*</span></label>
                            <input asp-for="Duration" class="form-control" />
                            <span asp-validation-for="Duration" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label asp-for="ImageUrl" class="control-label">Upload Image <span style="color:#ff0000">*</span></label>
                            <input type="file" name="files" multiple class="form-control" />
                            <span asp-validation-for="Venue" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label asp-for="ImageUrl" class="control-label"></label>
                            <img src="@Model.ImageUrl" width="75" height="75" />
                            <input hidden asp-for="ImageUrl" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <br />

                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary form-control" ><b>Save</b></button>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div>
                            <a asp-action="Index" class="btn btn-info form-control"><b>Back to List</b></a>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}


























