@model IEnumerable<ExperienceIT.Web.Models.VolunteerMaster>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        background-color: azure;
    }
</style>
<div class="border backgroundwhite search-background">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Volunteers List</h2>
        </div>
        @*<div class="col-6 text-right">
                <a><partial name="_CreateButtonPartial" /></a>
            </div>*@
    </div>
    <p>

        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

    </p>


</div>
<div class="backgroundwhite">
    @if (Model.Count() > 0)
    {
        <table class="table table-striped border">
            <tr class="table-secondary">
                <th colspan="2">
                    First Name
                </th>
                <th colspan="4">
                    Last Name
                </th>
                <th colspan="6">
                    Current Organization
                </th>
            </tr>

            @foreach (var item in Model)
            {
        <tr>
            <td colspan="2">
                @Html.DisplayFor(m => item.FirstName)
            </td>
            <td colspan="4">
                @Html.DisplayFor(m => item.LastName)
            </td>
            <td colspan="6">
                @Html.DisplayFor(m => item.CurrentOrganization)
            </td>
        </tr>

                @*<partial name="_TableButtonPartial" model="item.Id" />*@

            }
        </table>
    }
    else
    {
        <p>No Volunteer Exists...</p>
    }
</div>


