@*Author: ExperienceIT group2
    Description: Volunteer-Index.cshtml used to view the list of  Volunteers.
    volunteer e-mail will redirect to his/her specific details.*@

@model ExperienceIT.Web.ViewModels.VolunteerOrganizationViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="border backgroundwhite ">
    <div class="backgroundwhite">
        <h3 class="text-center section-title col-md-12">Our Volunteers</h3>
        <br />

        @if (Model.volunteers.Count() > 0)
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        First Name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th></th>
                    <th>
                        Email
                    </th>
                    <th>
                        Sponsoring Company
                    </th>
                </tr>

                @foreach (var item in Model.volunteers)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.FirstName)
                        </td>

                        <td>
                            @Html.DisplayFor(m => item.LastName)
                        </td>

                        <td></td>
                        @*to show volunteer e-mail*@
                        <td class="zoom">
                            @Html.ActionLink(item.User.Email, "Details", "Volunteers", new { id = item.Id, Style = "color: Red" }, null)
                        </td>

                        @*to show volunteer workplace*@
                        <td>
                            @{
                                var org = Model.organizationList.FirstOrDefault(o => o.Id.ToString() == item.CurrentOrganization);
                                var orgName = org == null ? "" : org.Name;
                            }
                            @orgName
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p>No Volunteer Exists...</p>
        }
    </div>
</div>


