@*to retrieve list of category*@

@model IEnumerable<ExperienceIT.Web.Models.Volunteer>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="border backgroundwhite search-background">
    @*adding border,background and image*@

    <div class="row">
        @* the "row" class is used mainly to hold columns in it.*@
        <div class="col-6">
            @*element take half of the horizontal screen space devices.*@
            <h2 class="text-info">Volunteer Role</h2>@*Add meaning through text-colors*@
        </div>
        <div class="col-6 text-right">
            @* move the columns to the right*@
            <a><partial name="_CreateButtonPartial" /></a>
        </div>
    </div>
    <p></p>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    
</div>