@*for homepage *@
<div class="h-100">
    <div id="carouselExampleIndicators" class=" carousel slide" data-ride="carousel">

        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="h-50 carousel-item active">
                <img class="d-block w-100" src="~/images/Opportunity-Made-in-Detroit.jpg" height="600" alt="First slide">
                <div class="carousel-caption d-none d-md-block"></div>
            </div>
            <div class="h-50  carousel-item">
                <img class="d-block w-100" src="~/images/bkg.jpg" height="600" alt="Second slide">
                <div class="carousel-caption d-none d-md-block"></div>
            </div>

            <div class="h-50 carousel-item">
                <img class="d-block w-100" src="~/images/ExpIT (2).jpg" height="600" alt="Third slide">
                <div class="carousel-caption d-none d-md-block"></div>
            </div>

            <div class="h-50  carousel-item">
                <div class="card" alt="Forth slide">

                    <div class="center center content px-5" style="background-color:floralwhite">
                        <br /><br />
                        <h1 style="text-align:center">Overview</h1>
                        <br />
                        <h6 class="col-8 offset-2">
                            Detroit Coders is a game-changing partnership between leading tech companies,
                            workforce agencies and educational institutions - working together to teach,
                            train and prepare the next generation of technology professionals in Detroit.
                        </h6>
                        <br /><br/>
                        <h1 style="text-align:center">Our Vision</h1>
                        <br />
                        <h6 class="col-8 offset-2">
                            Focus alignment between business, educational institutions and students;
                            establishing Southeast Michigan as an internationally recognized and respected technology hub.
                        </h6>
                        <br /><br />
                        <h1 style="text-align:center">Our Mission</h1>
                        <br />
                        <h6 class="col-8 offset-2">
                            Develop and execute continued educational training and practical experience for aspiring technology professionals;
                            delivering alignment between the region’s information technology employers and curricula taught by experience technologists.
                        </h6>
                        <br />
                        <br /><br /> <br /><br />
                    </div>
                </div>

                <div class="carousel-caption d-none d-md-block">
                    <h1 class="home"></h1>
                </div>
            </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    @*for about us*@
    @*<section class="fullwidth">
        <div class="no-repeat center center content px-5" style=" background-size: cover">
        <h1>Our Vision & Mission</h1>
        <p>
        We are a group of IT professionals who truly&nbsp;
        value technology and the impact it has on our community.
        Through the constant sharing of ideas, information and feedback,
        our team works together to find the best solutions possible.
        </p>
        <br/>
        </div>
        </section> *@
</div>
