@{
    <style>
        body {
            background-color: black;
        }

        * {
            box-sizing: border-box;
        }
    </style>
    <div>

        <img src="~/images/techflight4.png" height="500" width="1100"/>
        <p class="carousel-caption">
            <span class="font-weight-bold">Develop Programers the City Needs<br /></span>
            Connect with programs that are empowering Metro Detroiters<br />
            with the skills needed to start a career in software engineering.
            <br/>
            <br />
            <a href="https://localhost:44337/Identity/Account/Register"
               class="w3-button w3-white font-weight-bold w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Learn more and start today</a>
        </p>

        <p>            
    </div>
}
