@{
    ViewData["Title"] = "Home Page";
}

<div class="bg-image">
     <img src ="~/images/home3.jpg" width="1100" height="667" />    
     <div class="w3-display-left w3-text-white" style="padding:90px">
        <span class="w3-jumbo w3-hide-small">Do something that matters</span><br>
        <span class="w3-xxlarge w3-hide-large w3-hide-medium">Do something that matters</span><br>
        <span class="w3-large"> Join ExperienceIT, our dedicated network of volunteers <br />helping to deliver programming across the Metro Detroit Area.</span>
        <p><a href="#about" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Learn more and start today</a></p>
    </div>
</div>




  
