@*for homepage *@
<div class="h-100">
    <div id="carouselExampleIndicators" class=" carousel slide" data-ride="carousel">

        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="h-50 carousel-item active">
                <img class="d-block w-100" src="~/images/Opportunity-Made-in-Detroit.jpg" height="300" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="home">
                        Volunteer your Skills
                    </h1>
                </div>
            </div>
            <div class="h-50  carousel-item">
                <img class="d-block w-100" src="~/images/bkg.jpg" height="300" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="home">
                        Connect with Us
                    </h1>
                </div>
            </div>
            <div class="h-50 carousel-item">
                <img class="d-block w-100" src="~/images/ExpIT (2).jpg" height="300" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="home">
                        To aspiring techies
                    </h1>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    @*for about us*@
    <section class="fullwidth">
        <div class="no-repeat center center content px-5" style=" background-size: cover">
            @*<img src="~/images/Modern Elegant Circle Initials Logo.png" height="255" width="300" />*@
            @*<div class="content">*@
                <h1>Our Vision & Mission</h1>
                <p>
                    We are a group of IT professionals who truly&nbsp;
                    value technology and the impact it has on our community.
                    Through the constant sharing of ideas, information and feedback,
                    our team works together to find the best solutions possible.
                </p>
                <h1>
                    <a href="https://localhost:44337/Programs"
                       class="w3-button w3-white font-weight-bold w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Learn more and start today</a>
                </h1>
                <h6 class="text-center">Detroit Coders-Code is like humor. You have to explain it.</h6>
            @*</div>*@
        </div>
    </section>   
</div>
