@*for same allignment*@
<div class="row">
    <div class="col-12">
        <br />
        <br />
        <input type="submit" class="btn btn-info form-control" value="Submit" />
    </div>
</div>
    

