@*for same allignment*@
<div class="row">
    <div class="col-4">
        <input type="submit" class="btn btn-info form-control" value="Submit" />
    </div>
    @*to go back to action page*@
    @*<div class="col-4">
                    <a asp-action="Index" class="btn btn-info form-control">Back To List</a>
        </div>*@

