<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Detroit Coders </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @*for slickcarousel*@
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @*this script content is downloaded from internet and copied into a local js file under lib folder*@
    <script src="~/lib/slick.min.js"></script>
    @*Bootbox javascript file added under lib folder for register confirm message*@
    <script src="~/lib/bootbox.all.min.js"></script>

 </head>
<body class="search-background">

       <header>
        <nav class=" navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-4">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row">

                    <div class="navbar-header pull-left">
                        <a class=" zoom nav-link active font-weight-bold mr-2" asp-area="" asp-controller="Home" asp-action="Index">
                            <img src="~/Images/dtwcoders.png" alt="Detroit Coders" class="rounded-circle" height="60" width="60" />
                        </a>
                    </div>


                    <ul class="navbar-nav flex-md-grow-1">

                        <li class="nav-item navigation-item font-weight-bold">
                            <a class=" zoom nav-link navigation-link mr-4" asp-controller="Programs" asp-action="Index"><h4 style="color:white">Programs</h4></a>
                        </li>
                        <li class="nav-item navigation-item font-weight-bold">
                            <a class="zoom nav-link navigation-link mr-4 " asp-controller="Events" asp-action="Index"><h4 style="color:white">Events</h4></a>
                        </li>
                        <li class="nav-item navigation-item font-weight-bold">
                            <a class=" zoom nav-link navigation-link mr-4" asp-controller="Organizers" asp-action="Index"><h4 style="color:white">Sponsors</h4></a>
                        </li>
                        @if (User.IsInRole("ApplicationAdmin"))
                        {
                            <li class="nav-item navigation-item font-weight-bold">
                                <a class="zoom nav-link  navigation-link mr-4" asp-controller="Volunteers" asp-action="Index"><h4 style="color:white">Volunteers</h4></a>
                            </li>

                        }

                    </ul>
                    <partial name="_LoginPartial"/>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - Detroit Coders - <a asp-area="" asp-controller="Home" asp-action="Privacy">Code is like humor. You have to explain it.</a>
            </div>
        </footer>

    @RenderSection("Scripts", required: false)
    <script>
        $(document).ready(function () {
            $('li.active').removeClass('active');
            $('a[href="' + location.pathname + '"]').closest('li').addClass('active');
            $('.items').slick({
                infinite: true,
                slidesToShow: 3,
                slidesToScroll: 3
            });
        });
     </script>
</body>
</html>
