@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <ul class="navbar-nav ">
        <li class="nav-item">
            <div class="collapse navbar-collapse" id="navbar-list-4">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user-circle fa-2x"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Edit Profile</a>
                            <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/ChangePassword" title="Manage">Change Password</a>
                            <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout">
                                <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                            </form>
                        </div>
                    </li>   
                </ul>
            </div>
        </li>
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link disabled font-italic text-secondary text-monospace" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>
    </ul>
}
else
{
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active bg-primary" asp-area="Identity" asp-page="/Account/Register">Sign Up</a>
         </li>
    </ul>
    <span>&nbsp;</span>
    <ul class="nav nav-pills">
         <li class="nav-item">
            <a class="nav-link active bg-success" asp-area="Identity" asp-page="/Account/Login">Log In</a>
         </li>
    </ul>    
}