@model ExperienceIT.Web.Models.OrganizerMaster

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card w-75" style="margin-left:160px">
    <form asp-action="Create" method="post">
        <div class="row">
            <div class="col-md-6 form-group offset-md-5 align-content-md-center text-info"><h2>Edit Sponsors</h2></div>
        </div>

        <div class="col-md-4 ml-4"><span style="color:#ff0000">* </span><i>is required field</i></div>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-md-4 col-xs-6">
                <label asp-for="Name" class="col-form-label ml-5">Sponsoring Company<span style="color:#ff0000">*</span></label>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8">
                <input asp-for="Name" class="form-control" style="width:342px" />
            </div>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-md-4 col-xs-6">
                <label asp-for="Address" class="col-form-label ml-5"></label>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8">
                <input asp-for="Name" class="form-control" style="width:342px" />
            </div>
            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
        </div>

        <div class="form-group row">
            <div class="col-md-4 col-xs-6">
                <label asp-for="City" class="col-form-label ml-5"></label>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8">
                <input asp-for="City" class="form-control" style="width:342px" />
            </div>
            <span asp-validation-for="City" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-md-4 col-xs-6">
                <label asp-for="State" class="col-form-label ml-5"></label>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8">
                <input asp-for="State" class="form-control" style="width:342px" />
            </div>
            <span asp-validation-for="State" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-md-4 col-xs-6">
                <label asp-for="Zipcode" class="col-form-label ml-5"></label>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8">
                <input asp-for="Zipcode" class="form-control" style="width:342px" />
            </div>
            <span asp-validation-for="Zipcode" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-md-4 col-xs-6">
                <label asp-for="Country" class="col-form-label ml-5"></label>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8">
                <input asp-for="Country" class="form-control" style="width:342px" />
            </div>
            <span asp-validation-for="Country" class="text-danger"></span>
        </div>
        <div class="col-6 offset-3">
            <partial name="_EditAndBackToListButton" model="Model.Id" />
        </div>

        <br />
        <br />
    </form>
</div>







