@*
    Author: ExperienceIT group2
    Description: ForgotPasswordConfirmation.cshtml created to send forgot password confirmation to their emails.
*@

@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<br/>
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <br /><br/>
            <div class="row">
                <div class="col-md-6 form-group offset-md-4 text-info"><h2>Forgot password confirmation</h2></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6 form-group offset-md-4 "><h5>Please check your email to reset your password.</h5></div>
            </div>
            <br /><br/>
        </div>
    </div>
</div>
